<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Liste des contrat d'assurance</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Date</th>
                <th>Produit</th>
                <th>Client</th>
                <th>Validité</th>
                <th>Liste des garanties</th>
                <th *ngIf="role == 3">Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let contract of contracts">
                  <td>
                    {{ contract?.date_creation | date:'medium' }}
                  </td>
                  <td>
                    {{ contract?.produit_assurance?.libelle }}
                  </td>
                  <td>
                    {{ contract?.account?.client?.email }}
                  </td>
                  <td>
                    {{ contract.valid?"Valide":"Non Valide" }}
                  </td>
                  <td>
                    {{ contract?.garanties?.length }}
                  </td>
                  <td *ngIf="role == 3">
                    <button (click)="acceptContract(contract.id)">Accept</button>
                    <button (click)="refuseContract(contract.id)">Refuse</button>
                  </td>
                </tr>
                <tr *ngIf="contracts.length === 0">
                  <td class="not-found-table" colspan="3">
                    Vous n'avez pas de contrat en cours!
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
