<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Liste des contrat des comptes</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
              <th>Id Contrat</th>
              <th>Account</th>
              <th>Id Client</th>
              <th>État</th>
              </thead>
              <tbody>
              <tr *ngFor="let cont of contrats">
                <td>
                  {{ cont.id }}
                </td>
                <td>
                  {{ cont.account.type }}
                </td>
                <td>
                  {{ cont.client.firstName +" "+ cont.client.lastName }}
                </td>
                <td *ngIf="cont.etat == false">
                  <button class="btn btn-danger" (click)="approveContrat(cont.id)">Approuver ?</button>
                </td>
                <td *ngIf="cont.etat == true">
                  <button class="btn btn-default" disabled>Contrat approuvé</button>
                </td>
              </tr>
              <tr *ngIf="contrats.length === 0">
                <td class="not-found-table" colspan="3">
                  Vous n'avez pas de contrat en cours!
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
