.btn-add-garantie{
    background-color:transparent!important;
    color:black;
    font-weight: bolder;
    font-size: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.btn-add-garantie:hover{
    box-shadow: none;
    background-color:black!important;
    color:white;
}

.modal-title{
    margin-top:0;
}

.not-found-table{
    text-align: center;
    font-weight: normal;
    font-size: large;
    background-color: rgb(247, 247, 247);
}

#isRequired{
    display:inline-block;
    width:auto;
    margin-right:10px;
}

textarea{
    border: 1px solid #E3E3E3
}

.borderless{
    border:none;
}