.btn-add-garantie{
    background-color:transparent!important;
    color:black;
    font-weight: bolder;
}

.btn-add-garantie:hover{
    box-shadow: none;
}

.modal-title{
    margin-top:0;
}

.not-found-table{
    text-align: center;
    font-weight: normal;
    font-size: large;
    background-color: rgb(247, 247, 247);
}