<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12" *ngIf="role == 2">
      <button class="btn btn-primary pull-right" (click)="open(mymodal)">
        <i class="now-ui-icons ui-1_simple-add"></i> Comptes
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Liste de comptes</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
              <th>Id</th>
              <th>Type</th>
              <th>Description</th>
              <th>Actions</th>
              </thead>
              <tbody>
              <tr *ngFor="let acc of accounts">
                <td>
                  {{acc.idAccount}}
                </td>
                <td>
                  {{ acc.type }}
                </td>
                <td>
                  {{ acc.description }}
                </td>
                <td *ngIf="role == 2">
                  <button class="btn btn-danger" (click)="deleteAccount(acc.idAccount)">Supprimer</button>
                </td>
                <td *ngIf="role == 2">
                  <button class="btn btn-default" (click)="openModal(demandeModal, acc)">Modifier</button>
                </td>
                <td *ngIf="role == 1">
                  <button class="btn btn-primary" (click)="openColumns(mymodalCol,acc)">Adhérer</button>  <!--(click)="saveContrat(acc.idAccount )"-->
                </td>
               <!-- <td *ngIf="role == 1 && client==null">
                  <button class="btn btn-primary" (click)="openColumns(mymodalCol,acc.idAccount)">Adhérer</button>  (click)="saveContrat(acc.idAccount )"
                </td> -->
                <td *ngIf="role == 1">
                  <button class="btn btn-primary" disabled>En cours de Traitement</button>
                </td>
                <td *ngIf="role == 1">
                  <button class="btn btn-primary" disabled>Validé!</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajout d'un compte</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12 px-1">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nom du produit" [(ngModel)]="newAccountName" />
      </div>
    </div>
    <div class="col-md-12 px-1">
      <div class="form-group">
        <textarea rows="3" type="text" class="form-control" placeholder="Description" [(ngModel)]="newAccountDescription"></textarea>
      </div>
    </div>
    <div>
      <button (click)="addColumns()" class="btn btn-sm btn-add-garantie">
        <i class="now-ui-icons ui-1_simple-add"></i> Columns
      </button>
    </div>
    <div *ngFor="let column of columns" class="col-md-12">
      <div class="form-row">
        <div class="col">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="column.name"
            placeholder="Nom Colonne"
          />
        </div>
        <div class="col">
          <select class="form-control" [(ngModel)]="column.type">
            <option value="">Select Type</option>
            <option value="Nombre">Nombre</option>
            <option value="Texte">Texte</option>
            <option value="Boolean">Vrai/Faux</option>
            <option value="Pourcentage">Pourcentage</option>
          </select>
        </div>
        <div class="col-2">
          <label for="isRequired">Required by client</label>
          <input type="checkbox" id="isRequired" class="form-control" [(ngModel)]="column.isRequiredByUser"/>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="saveAccount(); modal.close('Save click')"
    >
      Enregistrer
    </button>
  </div>
</ng-template>


<!-- 2 -->


<ng-template #mymodalCol let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajout d'un compte</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">

          <th>Name</th>
          <th>Type</th>
          <th>Value</th>
          </thead>
          <tbody>
          <tr *ngFor="let col of selectedAccount.defaultAccount.columnsAccounts">
            <td>
              {{ col.name }}
            </td>
            <td>
              {{ col.type }}
            </td>
           <!-- <td>
              <input class="form-control" type="text" [(ngModel)]="col.value" placeholder="Valeur"/>
            </td> -->
            <td>

                <input *ngIf="col.requiredByUser == true && col.type == 'Texte'" type="text" [(ngModel)]="col.value" class="form-control" placeholder="{{col.name}}">
                <input *ngIf="col.requiredByUser == true && col.type == 'Nombre'" type="number" [(ngModel)]="col.value" class="form-control" placeholder="{{col.name}}">
                <input *ngIf="col.requiredByUser == true && col.type == 'Pourcentage'" type="text" [(ngModel)]="col.value" class="form-control" pattern="[0-9]+(\.[0-9]{1,2})?%?" placeholder="{{col.name}}">
                <input *ngIf="col.requiredByUser == true && col.type == 'Vrai/Faux'" type="Checkbox" [(ngModel)]="col.value" class="form-control" value="{{col.name}}">

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="saveContrat(); modal.close('Save click')"
    >
      Enregistrer
    </button>
  </div>
  </div>
</ng-template>

<!-- Demande modification modal -->
<ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Plus de détails sur le compte</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <tr [pEditableRow]="rowData"  >
    <td>
      <p-cellEditor>
        <ng-template pTemplate="input">
          <input pInputText type="text"  [(ngModel)]="rowData.type" >
        </ng-template>
        <ng-template pTemplate="output">
          <div [ngClass]="{'black': true}" >
            {{ rowData.type}}
          </div>
        </ng-template>
      </p-cellEditor>
    </td>

    <td>
      <p-cellEditor>
        <ng-template pTemplate="input">
          <input pInputText type="text" [(ngModel)]="rowData.columnsAccounts" >
        </ng-template>
        <ng-template pTemplate="output">
          <div [ngClass]="{'black': true}" >
            {{ rowData.columnsAccounts}}
          </div>
        </ng-template>
      </p-cellEditor>
    </td>
    <td >
    </td>
  </tr>
</ng-template>
<ng-template #demandeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Plus de détails sur le compte</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12 px-1">
      <div class="form-group">
        <input pInputText type="text" class="form-control"  [(ngModel)]="modal.idAccount" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
     > Modifier
    </button>
  </div>
</ng-template>
